.bolos {
  display: flex;
  gap: 15px;
  font-size: 1.5rem;
  margin: 40px;
  font-size: 2.5rem;
}
.favicon {
  height: 100px;
  width: 100px;
  align-self: center;
}
.massas {
  background: #ebebeb;
  border: solid #b4afb1;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.recheios {
  background: #ebebeb;
  border: solid #b4afb1;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cobertura {
  background: #ebebeb;
  border: solid #b4afb1;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.sabores {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.sabores2 {
  grid-column: 2;
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.7;
}

h3 {
  font-size: 2rem;
}

@media (max-width: 800px) {
  .sabores2 {
    grid-column: 1;
  }
  .sabores {
    margin-top: 5px;
  }
  .sabores2,
  .recheios,
  .finos1 {
    margin-top: 0px;
    line-height: 1.4;
  }
  .massas,
  .recheios,
  .cobertura,
  .docesfinos {
    align-self: center;
  }
}
