.logo {
  width: 200px;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px 20px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 2rem;
  justify-content: center;
  padding: 20px 30px;
  line-height: 1.3;
  color: #3c1a02;
  display: block;
}
